In [1]:
import pandas as pd

In [2]:
games = ['Breakout', 'Enduro', 'Pong', 'Seaquest', 'SpaceInvaders']

In [3]:
scores = {}

In [4]:
def read_table(directory: str, name: str):
    return pd.read_csv('{}/{}.csv'.format(directory, name), index_col=0).mean()

In [5]:
for game in games:
    directory = '{}/DeepQAgent/1M'.format(game)
    scores[game] = {}
    scores[game]['Initial'] = read_table(directory, 'initial').mean()
    scores[game]['Final'] = read_table(directory, 'final').mean()

In [6]:
scores

{'Breakout': {'Final': 85.43434343434343, 'Initial': -3.4343434343434343},
 'Enduro': {'Final': 1184.060606060606, 'Initial': 0.0},
 'Pong': {'Final': 19.636363636363637, 'Initial': -21.0},
 'Seaquest': {'Final': 263.8181818181818, 'Initial': 0.5858585858585859},
 'SpaceInvaders': {'Final': 52.98989898989899, 'Initial': 6.98989898989899}}

In [7]:
df = pd.DataFrame(scores)
df

          Breakout       Enduro       Pong    Seaquest  SpaceInvaders
Final    85.434343  1184.060606  19.636364  263.818182      52.989899
Initial  -3.434343     0.000000 -21.000000    0.585859       6.989899

In [8]:
from tabulate import tabulate

In [9]:
print(tabulate(df, tablefmt='grid', headers='keys'))

+---------+------------+----------+----------+------------+-----------------+
|         |   Breakout |   Enduro |     Pong |   Seaquest |   SpaceInvaders |
+=========+============+==========+==========+============+=================+
| Final   |   85.4343  |  1184.06 |  19.6364 | 263.818    |         52.9899 |
+---------+------------+----------+----------+------------+-----------------+
| Initial |   -3.43434 |     0    | -21      |   0.585859 |          6.9899 |
+---------+------------+----------+----------+------------+-----------------+