In [1]:
import pandas as pd

In [2]:
games = ['Breakout', 'Enduro', 'Pong', 'Seaquest', 'SpaceInvaders']

In [3]:
scores = {}

In [4]:
def read_table(directory: str, name: str):
    return pd.read_csv('{}/{}.csv'.format(directory, name), index_col=0).mean()

In [5]:
for game in games:
    directory = '{}/DeepQAgent/1M'.format(game)
    scores[game] = {}
    scores[game]['Random'] = read_table(directory, 'random').mean()
    scores[game]['Trained'] = read_table(directory, 'final_validation').mean()

In [6]:
scores

{'Breakout': {'Random': 1.02020202020202, 'Trained': 363.80808080808083},
 'Enduro': {'Random': 0.0, 'Trained': 330.6666666666667},
 'Pong': {'Random': -21.0, 'Trained': 19.747474747474747},
 'Seaquest': {'Random': 103.03030303030303, 'Trained': 8015.959595959596},
 'SpaceInvaders': {'Random': 138.83838383838383, 'Trained': 999.8484848484849}}

In [7]:
df = pd.DataFrame(scores)
df.columns = list(df.columns[:-1]) + ['Space Invaders']
df

           Breakout      Enduro       Pong     Seaquest  Space Invaders
Random     1.020202    0.000000 -21.000000   103.030303      138.838384
Trained  363.808081  330.666667  19.747475  8015.959596      999.848485

In [8]:
from tabulate import tabulate

In [9]:
print(tabulate(df, tablefmt='pipe', headers='keys'))

|         |   Breakout |   Enduro |     Pong |   Seaquest |   Space Invaders |
|:--------|-----------:|---------:|---------:|-----------:|-----------------:|
| Random  |     1.0202 |    0     | -21      |     103.03 |          138.838 |
| Trained |   363.808  |  330.667 |  19.7475 |    8015.96 |          999.848 |